@import './base.css';

#app {
  margin: 2 auto;
  margin-left:0;
}

a,
.green {
  text-decoration: none;
  color: rgb(82, 110, 101);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 84%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {

  }

}
